<!DOCTYPE html>
<html>
  <head>
    <title>RailsTicketsUa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
      <% end %>
      
      <nav class="navbar">
        <div class="container">
          <ol class="breadcrumb">
            <% if user_signed_in? %>
              <li><%= link_to 'Messenger', root_path %></li>
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Your Conversations', conversations_path %></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
            <% end %>
          </ol>
        </div>
      </nav>
      
      <div class="page-header">
        <h1><%= yield :page_header %></h1>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
